<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.udiannet.tob.expertreg.mapper.RegistrationMapper">
	<!-- 根据登录用户 id，查询对应的专家资料 -->
	<select id="findRegistrationByUserId" parameterType="int" resultType="Registration">
		select * from tbl_registration
		where reg_u_id = #{u_id}
			and reg_record_status = 1
	</select>
	<!-- 新增专家注册个人资料记录 -->
	<insert id="insertRegistration" parameterType="Registration" useGeneratedKeys="true" keyProperty="reg_id">
		INSERT INTO [tbl_registration]
			([reg_u_id],[reg_name],[reg_idcard],[reg_birthday]
			,[reg_gender],[reg_political_status]
			,[reg_phone],[reg_photo],[reg_education],[reg_college]
			,[reg_profession_kind],[reg_profession],[reg_company]
			,[reg_company_address],[reg_email],[reg_resume]
			,[reg_create_time],[reg_record_status])
		VALUES
			(#{reg_u_id},#{reg_name},#{reg_idcard},#{reg_birthday}
			,#{reg_gender},#{reg_political_status}
			,#{reg_phone},#{reg_photo},#{reg_education},#{reg_college}
			,#{reg_profession_kind},#{reg_profession},#{reg_company}
			,#{reg_company_address},#{reg_email},#{reg_resume}
			,getdate(),1)
			<!-- (#{Registration.reg_u_id},#{Registration.reg_name},#{Registration.reg_idcard},#{Registration.reg_birthday}
			,#{Registration.reg_phone},#{Registration.reg_photo},#{Registration.reg_education},#{Registration.reg_college}
			,#{Registration.reg_profession_kind},#{Registration.reg_profession},#{Registration.reg_company}
			,#{Registration.reg_company_address},#{Registration.reg_email},#{Registration.reg_resume}
			,getdate(),1) -->
	</insert>
	<!-- 更新专家注册个人资料记录 -->
	<update id="updateRegistration" parameterType="Registration">
		UPDATE [dbo].[tbl_registration]
		   SET [reg_u_id] = #{reg_u_id}
		      ,[reg_name] = #{reg_name}
		      ,[reg_idcard] = #{reg_idcard}
		      ,[reg_birthday] = #{reg_birthday}
		      ,[reg_gender] = #{reg_gender}
		      ,[reg_political_status] = #{reg_political_status}
		      ,[reg_phone] = #{reg_phone}
		      ,[reg_photo] = #{reg_photo}
		      ,[reg_education] = #{reg_education}
		      ,[reg_college] = #{reg_college}
		      ,[reg_profession_kind] = #{reg_profession_kind}
		      ,[reg_profession] = #{reg_profession}
		      ,[reg_company] = #{reg_company}
		      ,[reg_company_address] = #{reg_company_address}
		      ,[reg_email] = #{reg_email}
		      ,[reg_resume] = #{reg_resume}		      
		      ,[reg_update_time] = getdate()
		 WHERE [reg_id] = #{reg_id}
		 	AND [reg_record_status] = 1
	</update>
</mapper>  